# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
venv/
ENV/

# IDE - VSCode
.vscode/
*.code-workspace
.history

# Project specific
uploads/*
!uploads/.gitkeep
config.json
.DS_Store

# Logs
*.log
